{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Новости</h1>
<style type="text/css">
   A {
    color: black; /* Цвет ссылок */
   }
   A:visited {
    color: #cecece; /* Цвет посещенных ссылок */
   }
   A:active {
    color: #ffff00; /* Цвет активных ссылок */
   }
</style>
<br>
<div class="row">
    {% for new in news %}
        <div class="col-sm-4">
            <br>
            <div class="card text">
                <a href="{% url 'new' new.pk %}" class="card-text">
                 <img src="{{new.image.url}}" class="card-img" alt="{{ new.title }}">
                      <div class="card-img-overlay-bg-dark">
                          <h5 class="card-title">{{new.title}}</h5>
                          <div class="card-footer">
                          <p class="card-text">Дата публикации: {{new.add_date}}</p>
                          </div>
                      </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}