{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Новости</h1>
<br>

<div class="container">
    <div class="col-sm-6">
{% for new in news %}
    <div class="card text-bg-dark">
        <a href="{% url 'new' new.pk %}" class="card-text">
         <img src="{{new.image.url}}" class="card-img" alt="{{ new.title }}">
              <div class="card-img-overlay">
                  <h5 class="card-title">{{new.title}}</h5>
                  <div class="card-footer">
                  <p class="card-text">Обновлено {{new.add_date}}</p>
                  </div>
              </div>
        </a>
    </div>

{% endfor %}
    </div>
</div>
{% endblock %}