{% extends "base.html" %}


{% block page_content %}
<h1>{{ phone.name }}</h1>
<div class="row">
    <div class="col-md-4">
        <img src="{{phone.image.url}}" alt="{{ phone.name }}" width="100%">
    </div>
    <div class="col md-8">
        <h5>Год изготовления:</h5>
        <p>{{phone.date }}</p>
        <br>
        <h5>Размер экрана: </h5>
        <p>{{ phone.screen_size }}</p>
        <br>
        <h5>Оперативная память:</h5>
        <p>{{phone.ram }}</p>
        <br>
        <h5>Встроенная память:</h5>
        <p>{{phone.memory }}</p>
        <br>
        <h5>Дата добавления объявления:</h5>
        <p>{{phone.add_date }}</p>
        <br>
    </div>
</div>
<h3> Оставьте отзыв:</h3>
<br>
<div class="col-md-8">
    <form action="/catalog/{{ phone.pk }}/" method="post">
        {%csrf_token %}
        <div class="form-group">
            {{ form.author }}
        </div>
        <div class="form-group">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
    <div class="col-md-12">
        <h3>Отзывы:</h3>
        {% for review in reviews %}
            <p>
            On {{ review.created_on.date }}&nbsp;
            <b><mark>{{ review.author }}</mark></b> написал:
            </p>
            <p><mark>{{ review.body }}</mark></p>
            <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}